<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://192.168.1.39/clip4_08.00.08_201903211603_AdHoc.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>kr.co.show.ollehmywallet</string>
				<key>bundle-version</key>
				<string>08.00.08</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>CLiP 08.00.08 AdHoc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
